* {
  margin: 0%;
  padding: 0%;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

h2 {
  text-align: center;
  font-family: "Montserrat", serif;
  margin: 0 0 20px;
  margin-top: 30px;
  padding: 0%;
  font-size: 46px;
  color: #794930;
  font-weight: 200;
  color: #794930;
}

@media (max-width: 992px) {
  h2 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 2rem;
  }
}

h3,
h5 {
  margin-top: 10px;
  font-family: "Lora", serif;
  color: #6a391f;
  text-align: center;
  margin-bottom: 20px;
}

h4 {
  color: #794930;
  text-align: center;
  font-size: 30px;
}

p {
  text-align: center;
  color: #52463a;
  font-family: "Montserrat", serif;
  font-size: 1.2rem;
  line-height: 2 rem;
}

@media (max-width: 992px) {
  p {
    font-size: 1rem;
  }
}

body {
  background: -webkit-gradient(linear, right top, left top, color-stop(16%, #f5cdb8), color-stop(63%, #f5cab2));
  background: linear-gradient(to left, #f5cdb8 16%, #f5cab2 63%);
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

.row {
  margin-left: 0%;
  margin-right: 0%;
}

/*----LOGO------*/
.navbar .nav-menu__logo {
  text-decoration: none;
}

.navbar .nav-menu__logo h1 {
  font-family: "EB Garamond", serif;
  font-size: 4rem;
  color: #6a391f;
  text-align: center;
  margin: 0%;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (max-width: 768px) {
  .navbar .nav-menu__logo h1 {
    font-size: 3.8rem;
  }
}

@media (max-width: 576px) {
  .navbar .nav-menu__logo h1 {
    font-size: 3.5rem;
  }
}

/*----MENU----*/
#nav {
  background: rgba(130, 125, 125, 0.1);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#nav .navbar {
  margin: 0%;
  padding: 0px;
}

#nav .navbar .navbar-collapse .navbar-nav {
  width: 100%;
  margin: 0%;
}

#nav .navbar .navbar-collapse .navbar-nav .nav-menu__pages {
  font-size: 1.25rem;
  font-family: "Lora", serif;
  color: #794930;
  text-align: center;
  padding: 0%;
}

@media (max-width: 992px) {
  #nav .navbar .navbar-collapse .navbar-nav .nav-menu__pages {
    padding-bottom: 8px;
  }
}

#nav .navbar .navbar-collapse .navbar-nav #on_page {
  color: white;
}

#nav .navbar .navbar-collapse .navbar-nav .nav-menu__pages:hover,
#nav .navbar .navbar-collapse .navbar-nav #on_page:hover {
  color: white;
}

/*------FOOTER------*/
footer {
  margin-top: 20px;
}

footer div.container-fluid {
  color: white;
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 5px 15px rgba(87, 87, 87, 0.5);
          box-shadow: 0 5px 15px rgba(87, 87, 87, 0.5);
  /*------Brand------*/
  /*------Social Mobile------*/
  /*------Contact Info------*/
  /*------Navigation------*/
  /*------Newsletter------*/
}

footer div.container-fluid div.brandfooter {
  text-align: center;
}

footer div.container-fluid div.brandfooter ul {
  text-align: center;
  margin-bottom: 5px;
}

footer div.container-fluid div.brandfooter li {
  display: inline;
  margin: 20px;
}

footer div.container-fluid div.brandfooter h6.brandfooter {
  font-family: "EB Garamond", serif;
  font-size: 3.125rem;
  margin: 0%;
  color: #794930;
  margin-bottom: -5px;
  margin-top: 10px;
}

footer div.container-fluid div.brandfooter p {
  margin-bottom: 30px;
  color: white;
}

footer div.container-fluid div.social-mobile ul {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0px;
}

footer div.container-fluid div.social-mobile li {
  display: inline;
  margin: 20px;
}

footer div.container-fluid div.ul-info {
  text-align: center;
  line-height: 1.5rem;
}

footer div.container-fluid div.ul-info h4 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  color: #794930;
}

footer div.container-fluid div.ul-info li {
  font-size: 15px;
}

footer div.container-fluid div.ul-info li i {
  font-size: 12px;
}

footer div.container-fluid div.ul-footer {
  text-align: center;
}

footer div.container-fluid div.ul-footer h4 {
  font-size: 20px;
  font-weight: bold;
  color: #794930;
}

footer div.container-fluid div.ul-footer ul li {
  display: inline;
  margin-left: 20px;
}

footer div.container-fluid div.ul-footer ul li a {
  font-size: 15px;
  text-decoration: none;
  color: white;
}

footer div.container-fluid div.ul-footer ul li a:hover {
  color: #794930;
}

footer div.container-fluid div.ul-footer ul li:hover {
  color: #794930;
}

footer div.container-fluid div.newsletter {
  text-align: center;
  padding: 0%;
}

footer div.container-fluid div.newsletter h4 {
  font-weight: lighter;
  margin-top: 30px;
  margin-bottom: 20px;
}

footer div.container-fluid div.newsletter h4 strong {
  font-weight: 600;
}

footer div.container-fluid div.newsletter form {
  margin-right: 0%;
  margin-left: 0%;
}

footer div.container-fluid div.newsletter input.footer {
  margin: 5px 5px 5px 0px;
  display: inline-block;
  width: 230px;
  background-color: white;
  border-style: none;
  border-radius: 2px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: black;
}

footer div.container-fluid div.newsletter ::-webkit-input-placeholder {
  font-size: 15px;
}

footer div.container-fluid div.newsletter :-ms-input-placeholder {
  font-size: 15px;
}

footer div.container-fluid div.newsletter ::-ms-input-placeholder {
  font-size: 15px;
}

footer div.container-fluid div.newsletter ::placeholder {
  font-size: 15px;
}

footer div.container-fluid div.newsletter input.footer:focus {
  -webkit-box-shadow: 0px 0px 10px 5px #e6aa8a;
          box-shadow: 0px 0px 10px 5px #e6aa8a;
}

@media (max-width: 768px) {
  footer div.container-fluid div.newsletter h4 {
    margin: 10px;
  }
  footer div.container-fluid div.newsletter form {
    margin: 15px;
  }
}

div.footer-contact {
  width: auto;
}

p.slogan {
  font-size: 1.125rem;
  margin-top: 0px;
}

footer p {
  font-size: 70%;
  margin: 8px;
}

i.fab {
  font-size: 1.875rem;
}

i.fab:hover {
  color: #794930;
}

p.copy {
  color: white;
}

footer.home {
  margin: 0%;
}

/*-----HOME------*/
div.section-home {
  height: 90vh;
  background-image: url(../images/cup-white-home.jpg);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /*------Text Carousel Home------*/
}

div.section-home h2.home {
  margin: 0%;
  margin-top: 50px;
  position: relative;
  color: #6a391f;
  font-family: "EB Garamond", serif;
  font-size: 4rem;
  letter-spacing: 5px;
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@media (max-width: 992px) {
  div.section-home h2.home {
    font-size: 3.8rem;
  }
}

@media (max-width: 768px) {
  div.section-home h2.home {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  div.section-home h2.home {
    font-size: 3rem;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.section-home div.carousel-item .card {
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

div.section-home div.carousel-item .card h3 {
  font-size: 40px;
  font-weight: lighter;
  color: #794930;
  margin-bottom: 10px;
  margin-top: 40px;
}

@media (max-width: 1200px) {
  div.section-home div.carousel-item .card h3 {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

@media (max-width: 992px) {
  div.section-home div.carousel-item .card h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  div.section-home div.carousel-item .card h3 {
    font-size: 23px;
    margin-bottom: 15px;
  }
}

div.section-home div.carousel-item .card .button {
  padding: 2px;
  color: #794930;
  border: solid 1px #794930;
  text-decoration: none;
  margin-bottom: 20px;
}

div.section-home div.carousel-item .card .button:hover {
  font-weight: 600;
}

/*----PRODUCTS-----*/
.arabica,
.liberica,
.robusta {
  background: rgba(130, 125, 125, 0.1);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h2.types {
  font-size: 3rem;
  text-align: center;
  margin: 15px;
  font-family: "EB Garamond", serif;
}

div.products {
  background: rgba(130, 125, 125, 0.1);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: #6a391f;
}

/*------Products Cards------*/
div.arabica .coffee {
  background-image: url(../images/coffee-beans.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

div.arabica .coffee-1 {
  background-image: url(../images/coffee-beans1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

div.arabica .coffee-2 {
  background-image: url(../images/coffee-beans2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

div.arabica .coffee-3 {
  background-image: url(../images/coffee-beans3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

div.arabica .coffee-4 {
  background-image: url(../images/coffee-beans4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

div.arabica .coffee-5 {
  background-image: url(../images/coffee-beans5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

div.robusta .coffee-6 {
  background-image: url(../images/coffee-beans6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

div.robusta .coffee-7 {
  background-image: url(../images/coffee-beans7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

div.liberica .coffee-8 {
  background-image: url(../images/coffee-beans9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hovereffect {
  height: 170px;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  margin-bottom: 20px;
  border-radius: 15px;
  border: solid 2px rgba(136, 136, 136, 0.5);
}

@media (max-width: 992px) {
  .hovereffect {
    height: 150px;
  }
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect h3 {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0%;
  color: white;
  text-align: center;
  position: relative;
  font-weight: 500;
  -webkit-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: rgba(77, 77, 77, 0.5);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

@media (max-width: 992px) {
  .hovereffect h3 {
    font-size: 28px;
  }
}

.hovereffect h6 {
  font-size: 25px;
  margin: 0%;
  color: #fff;
  text-align: center;
  position: relative;
  -webkit-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-top: 5px;
}

@media (max-width: 992px) {
  .hovereffect h6 {
    font-size: 20px;
    margin-top: 10px;
  }
}

.hovereffect:hover h3,
.hovereffect:hover h6 {
  color: white;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  background-color: transparent;
}

.hovereffect:hover h3 {
  color: #df9872;
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 20;
  border-bottom: solid 1px #df9872;
}

.hovereffect div.info {
  color: white;
  background-color: transparent;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill;
  height: 60%;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hovereffect:hover div.info {
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  transform: scale(1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.info p {
  color: white;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 12px;
}

@media (max-width: 992px) {
  div.info p {
    font-size: 12px;
    margin-top: 0%;
    margin-bottom: 8px;
  }
}

@media (max-width: 768px) {
  div.info p {
    font-size: 15px;
  }
}

a.products {
  color: whitesmoke;
  text-decoration: none;
  background: transparent;
  border-radius: 50px;
  border: 1px solid #df9872;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  padding: 4px;
  margin-bottom: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 992px) {
  a.products {
    margin-top: 0%;
    font-size: 12px;
  }
}

a.products:hover {
  -webkit-box-shadow: 0 0px 10px 1px #f5cab2;
          box-shadow: 0 0px 10px 1px #f5cab2;
}

/*----ABOUT US-------*/
div.about_us {
  background: rgba(130, 125, 125, 0.1);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

div.about_us p.about_us {
  text-align: center;
  font-size: 1.2rem;
  margin: 20px;
}

div.about_us a.about_us {
  font-weight: 800;
  color: #794930;
}

div.about_us div.img {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.about_us div.img img {
  width: 100%;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*----Contact -----*/
div.contact {
  background: rgba(130, 125, 125, 0.1);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

div.contact form {
  color: #794930;
  font-size: 1.125rem;
  text-align: center;
}

div.contact form .form-control {
  background-color: #f5cab2;
  border: solid 1px #794930;
  color: white;
  font-weight: 600;
  color: #794930;
}

div.contact form .form-control:focus {
  background-color: #f5cab2;
  border: solid 1px #794930;
  color: white;
  font-weight: 600;
  -webkit-box-shadow: 0 0px 10px -2px #794930;
          box-shadow: 0 0px 10px -2px #794930;
  color: #794930;
}

div.contact form input.form-check-input {
  margin-left: 15px;
  position: relative;
}

div.contact form label {
  color: #794930;
  font-weight: 900;
}

div.contact form label .form-check-label {
  padding: 7px 15px;
}

div.contact ul.contact {
  color: #794930;
  text-align: center;
}

button.contact {
  background-color: #e6aa8a;
  border: solid 1px #794930;
}

button.contact:hover {
  background-color: #f5cab2;
}

/* Elaboration Process*/
h2.elaboration {
  margin-top: 20px;
}

div.elaboration {
  background: rgba(130, 125, 125, 0.1);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

div.elaboration div.row {
  text-align: center;
  border-top: solid 1px rgba(136, 136, 136, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div.elaboration div.row h3 {
  font-size: 40px;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

div.elaboration div.row h4 {
  margin-top: 20px;
}

div.elaboration div.row img {
  max-width: 100%;
  height: auto;
  margin-top: 22px;
  margin-bottom: 22px;
}

div.elaboration div.row p {
  margin: 20px;
}

@media (max-width: 992px) {
  div.elaboration div.row p {
    margin: 10px;
    margin-bottom: 0%;
  }
}

div.elaboration div.start {
  border-top: none;
}

div.elaboration div.final {
  border-bottom: none;
}

div.elaboration ul.elaboration li {
  color: white;
  list-style-type: none;
}
/*# sourceMappingURL=styles.css.map */